/*global*/
:root{
	--teal: #1a9e9e;
	--white: white;
	--indigo: #093145;

	--pop: 'Poppins', sans-serif;

	--20: 20px;
	--50: 50px;

	--400p: 400;
	--500p: 500;
	--700p: 700;

	--pad: 5px;
}
/*global*/

.box{
  
    background-color:red;
    height: 100vh;
    text-align: center;
    /* text-align: justify; */
    
}
h1,p{
    padding: 5px 20px;

    font-size: 60px;
    color: white;
    /* border: 1px solid darkblue; */
} 